/*Css do SearchForm*/
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.btnSearch {
  border: 1px solid black;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
  background: none;
  background-color: #DBEFE4;
}
.btnSearch > img {
  width: 39.18px;
  height: 23.5px;
}
.inputSearch {
  width: 100%;
  height: 29px;
  outline: none;
  border: 1px solid black;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  background-color: #DBEFE4;
  font-size: 15px;
  font-family: "Inter";
  font-weight: 400;
}